{% include 'header.html' %}
<h2>About Me</h2>
 <p>Hi, I’m Prem Prasad Pradhan.

I am currently a B.Tech student, and this site showcases the full journey of my life — from school to college, from dreams to achievements.

It is a personal space where I track my academic progress, projects, and future milestones.
 </p>
<p>This journey is still continuing, and I’m excited to keep growing and learning every day. </p>

<h2>My Motivation Line</h2>
<p>Everything happens for a reason. Try to understand it, give your best, and turn it into something great. </p>



<footer class="site-footer">
  <p>Made by <strong>MR.PREM</strong> | All rights reserved © 2025</p>
</footer>