<footer class="site-footer">
  <div class="social-links">
      <a href="https://github.com/MRPREM31" target="_blank" title="GitHub">
      <i class="fab fa-github"></i>
    </a>

    <a href="https://www.linkedin.com/in/prem-prasad-pradhan-18472b295/" target="_blank" title="linkedin">
      <i class="fab fa-linkedin"></i>
    </a>


      <a href="mailto:mr.prem2006@gmail.com" title="Email">
     <i class="fas fa-envelope"></i>
    </a>

    <a href="https://youtube.com/@B.techPrem?si=DLQysUc8HvX8wJTI/" target="_blank" title="YouTube">
      <i class="fab fa-youtube"></i>
    </a>


     <a href="https://www.instagram.com/liku___pradhan?igsh=ejMzanVtbjJzOGlt" target="_blank" title="Instagram">
     <i class="fab fa-instagram"></i>
   </a>
  </div>

  <p>Made by <strong>MR.PREM</strong> | All rights reserved © 2025</p>
</footer>
