<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="form-container">
    <h2>Reset Password</h2>
    <form method="POST">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required>
      <button type="submit">Send OTP</button>
    </form>
    <a class="back-link" href="{{ url_for('admin_login') }}">← Back to login</a>
  </div>
  {% include 'footer.html' %}
</body>
</html>
