{% include 'header.html' %}
<h2>My Journey</h2>
 <p>I was born on 31st March 2006, and my learning journey began at the age of 3 at Saraswati Sishu Mandir. It was a wonderful place that gave me a strong foundation — both in studies and in values. The school’s culture of daily prayers and discipline helped shape my personality and thinking. I studied there up to Class 5, building the pillars of my future.</p>

 <p>After that, I joined Odisha Adarsha Vidyalaya (OAV), which marked a turning point in my life. This is where English-medium education started, and the learning environment was excellent. I made great friends and was guided by amazing teachers who helped me grow stronger, both academically and personally. I completed my Class 10 here — a milestone I’ll always be proud of.<p>

 </p>Then came my higher secondary journey at Nalanda Shree Higher Secondary School, Berhampur. Though it was just a short span of 2 years, I found some of my best friends here — supportive, understanding, and lifelong. My journey through Class 11 and 12 was full of learning and preparation for what came next.<p>

 </p>Now, I’m proud to be at NIST University, Berhampur, where my engineering journey has begun. This phase marks the beginning of my dreams — exploring technology, building skills, and aiming high toward becoming something great in life.</p>

 <footer class="site-footer">
  <p>Made by <strong>MR.PREM</strong> | All rights reserved © 2025</p>
</footer>